
.page-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 29px;
    background: #222;
    font-family: Tahoma;
    letter-spacing: 2px;
    overflow: hidden;
}
.page-container::before {
    content: "";
    position: absolute;
    top: 28px;
    right: 28px;
    bottom: 28px;
    left: 28px;
    border: 1px solid #EC3;
}

.side-part {
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;
    width: 22%;
    max-width: 430px;
    min-width: 230px;
    background: #EC3;
    transition: 0.3s ease;
}

.side-container {
    position: absolute;
    top: 35px;
    right: 5px;
    left: 15px;
    bottom: 35px;
    color: #444;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
}

.main-container {height: 100%; overflow: hidden;}
.inner-main-container {
    display: block;
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0 5%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.inner-main-container::-webkit-scrollbar {width: 5px;}
.inner-main-container::-webkit-scrollbar-track {background: #555;}
.inner-main-container::-webkit-scrollbar-thumb {background: #EC3;}

.collage-container {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    max-width: 800px;
    margin: 6% auto 100px;
    overflow: hidden;
}

.photo-tile {
    float: left;
    box-sizing: border-box;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    transition: 0.25s ease;
}
.photo-tile::before {
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(20,20,20,0.4);    
    transition: 0.3s ease;
}
.photo-tile:hover::before {opacity: 0;}

/* Photo tile height classes */
.single {height: 100px;}
.double {height: 200px;}
.triple {height: 300px;}
.quadruple {height: 400px;}
.quintuple {height: 500px;}

/* Photo tile width classes */
.whole {width: 100%;}
.three-quarters {width: 75%;}
.two-thirds {width: 66.6666666%}
.half {width: 50%;}
.third {width: 33.3333333%;}
.quarter {width: 25%;}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .side-part {width: 2%; min-width: 0;}
}

@media screen and (max-width: 480px) {
    .three-quarters {width: 100%;}
    .two-thirds {width: 100%}
    .half {width: 100%;}
    .third {width: 100%;}
    .quarter {width: 100%;}
    .triple {height: 200px;}
    .quadruple {height: 200px;}
    .quintuple {height: 300px;}
}